 

  @font-face {
    font-family: gloria;
    src: url("./gloria-hallelujah-v15-latin/gloria-hallelujah-v15-latin-regular.woff") format("woff"),url("./gloria-hallelujah-v15-latin/gloria-hallelujah-v15-latin-regular.woff2") format("woff2");  
  }
  @font-face {
    font-family: galBold;
    font-weight: bold;
    src: url("./galano/GalanoGrotesque-Bold.eot") format("opentype"), url("./galano/GalanoGrotesque-Bold.woff2") format("woff2"), url("./galano/GalanoGrotesque-Bold.woff") format("woff");
}

@font-face {
    font-family: galLight;
    font-weight: bold;
    src: url("./galano/GalanoGrotesque-Light.eot") format("opentype"),url("./galano/GalanoGrotesque-Light.woff2") format("woff2"),url("./galano/GalanoGrotesque-Light.woff") format("woff");
}
*{
    margin: 0%;
    padding: 0%;
    border: 0; 
    /* font-family: galLight;  */
}
body{
    border: 0;
    margin: 0;
    padding: 0;
}
.cont{
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9%;
    margin-top: 3em;
}
.header{ 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw; 
}
.banner{
    width: 100%;
    height: 100%;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 1em;
}
.navCont{
    font-family: galLight;
}

.button{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    margin: 0 1em;
    color: #fff;
    font-family: galBold;
}
.button:focus{
    border: none;
    outline: none;
}

a{
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}
a:focus, a:focus-visible, a:focus-within, a:hover{
    border: none;
    outline: none;
    text-decoration: none;
} 
thead>tr>th{
    padding: 0  ;
    font-family: galLight;
}
tbody>tr>th{
    padding: 0;
    font-family: galBold;
}

.countTable{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0  ;
    padding: 0 3em 0 0;
    width: 50vw !important;
}
.Table{
    text-align: center;
    width: 80vw;
    font-family: galLight;
    font-size: 1.2em;
    font-weight: bold !important;
}
.divider{
    margin: 1.5em 0;
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: center;
    background-color: rgba(192, 192, 192, 0.50); 
}
.span{
    color: #111;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav{
      font-size: 20px;
      display: flex;
      justify-content: space-evenly;
    width: 30vw;
    margin: 0%;
  }   
  
.test{
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    
}
.card{
    width: 20vw;
    height: 30vw;
    margin: 1em;
    background-color: #fff;
    display: contents !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:none !important;
    font-family: galLight;

}

  /* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 12rem; /* layout hack */
	max-height: 12rem; /* layout hack */
	max-width: 13rem; /* layout hack */
	
    background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}

.card {
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden; 
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description { 
    display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
    font-weight: 800;
}
.card-description>* {
    font-size: 1em;
    text-align: center;
}
.card-description>a{
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
}
 
.card-description > p {
	margin: 0;
}  
.boton{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    font-family: gloria;
    font-size: 1.5em;
    display:inline-block;
    color: #FFF;
    background: #7F8C8D;
    padding: 7px 60px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 100px;
    margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .azul{
  background: #111111;
  box-shadow: 0px 5px 0px 0px #111111;
  }
  
  .azul:hover{
  background: #615959;
  color: #ffffff;
  cursor: pointer;
  }
  
  .azul:active{
  box-shadow: 0px 2px 0px 0px #111111;
  }
   
.columns{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    margin-left: 4em;
    position: absolute;
    left: -80px; 
    margin: 0 200px !important;
    width: 80vw;
    overflow: overlay !important;
    overflow: hidden;
    margin: 0 160px; 
}
.sect{
    margin-top: 36%;
    margin-left: 10%;
    margin:36% 0 10% 10%;
    width:80vw ;
    font-family: galLight;
}
.sect>p>a>b{
    font-family: galBold;
}
.contM{
    width: 40vw;
    height: 50%;
    }
section p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    background: #e4e4e4;
    transition: all 0.2s ease-in;
  }
  
  section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    background-color: #212121;
    border-bottom: 2px solid gray;
    color: white;
  }
  
  section:target p {
    max-height: 120px;
    padding: 10px;
  }
  .containerM{
      padding: 0 20%;
  }

  
  .slides {
    width: 100%; /* card * 4 + margin * 4 */
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    transition: all .5s ease;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .slides .slide {
    scroll-snap-align: start;
    flex-shrink: 0;
  
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    background: #eee;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: translateX(0px);
  }
  p>a{
       color: rgb(51, 2, 107) !important;
  }
    
  .imgClaim>img{
      width: 40vw;
  }  

  .imgClaim{
      display: -webkit-inline-box;
  }
  .colla{
      margin: 2em 0 0 2em;
      width: 36vw;
  }
  

 
  /* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-weight: lighter;
  }
  .collapseButt{ 
    width: 100%;
    background-color: transparent;
    padding: 8px;
    margin-top: 0;  
    font-family:  galBold !important;
  } 
  thead{
    font-family: galLight;
  }
  tbody{
    font-family:  galBold !important;
    font-size: 1.5em;
  }


  @media (min-width:1200px) {
      .nav-bar{
          top: 2em;
      }
    .countTable { 
        width: 60vw !important;
    }
    .card {
        height: 23vw !important;
    }
    .sect {
        margin: 22% 0 10% 10% !important;
    }
  }
  @media (min-width:1600px) {
    .buttons{
        margin-top: 1em;
    }
    .columns{
        margin: 0 300px !important;
    }
    .countTable { 
        width: 60vw !important;
    }
    .card {
        
    height: 18vw !important;
    width: 11vw !important;
    }
    .sect {
        margin: 22% 0 10% 10% !important;
    }
  }

  @media (max-width: 1400px) {
    .columns{
        margin: 0 200px;
    }
    .countTable{
        margin: 0;
        width: 40vw;
    }
    .navCont{
        margin: 0;
    }
    .nav{
        width: 25vw;
    }
    .card{
        max-width: 12rem;
        height: 17vw;
    }
    .sect{
      margin: 20% 0 10% 10%;
    }
    .divider{
      margin-left: 0%;
      width: 100%;
  } 
  .buttons{
      margin-top: 0em;

  }
}

  @media (max-width: 1200px) {
      .columns{
          margin: 0 180px !important;
      }
      .countTable{
          margin: 0;
          width: 70vw;
      }
      .navCont{
          margin: 0;
      }
      .nav{
          width: 45vw;
      }
      .card{
          max-width: 12rem;
          height: 30vw;
      }
      .sect{
        margin: 30% 0 10% 10%;
      }
      .divider{
        margin-left: 0%;
        width: 100%;
    }
    .buttons{
        margin-top: 1em;
    }
  }
    @media (min-width:1401px) {
        .card {
            max-width: 14rem !important;
            height: 22vw !important;
        }
    }

 .is-active{
     font-family: galBold;  

 } 
 .all{
     font-size: 17px;
 }
 table, th, td {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }
    th, td {
        width: 30px;
    }
  .countTable{
    width: 80vw !important;
    margin: 0 0 0 1em;
  }
  .footer{
      height: 60px;
      background-color: #212121;
      width: 100vw;
  }
  @media (min-width: 1600px) {
    .sect {
        margin: 14% 0 10% 10% !important;
    }
  }
      
  }